{
    "SOM": (
        name: "Somatization",
        questions: [1, 4, 12, 27, 40, 42, 48, 49, 52, 53, 56, 58],
    ),
    "O-C": (
        name: "Obsessive-compulsive",
        questions: [3, 9, 10, 28, 38, 45, 46, 51, 55, 65],
    ),
    "I-S": (
        name: "Interpersonal sensitivity",
        questions: [6, 21, 34, 36, 37, 41, 61, 69, 73],
    ),
    "DEP": (
        name: "Depression",
        questions: [5, 14, 20, 22, 26, 29, 30, 31, 32, 54, 71, 79],
    ),
    "ANX": (
        name: "Anxiety",
        questions: [17, 23, 33, 39, 57, 72, 78, 80, 86],
    ),
    "HOS": (
        name: "Anger-hostility",
        questions: [11, 24, 63, 67, 74, 81],
    ),
    "PHOB": (
        name: "Phobic anxiety",
        questions: [13, 25, 47, 50, 70, 75, 82],
    ),
    "PAR": (
        name: "Paranoid ideation",
        questions: [8, 18, 43, 68, 76, 83],
    ),
    "PSY": (
        name: "Psychoticism",
        questions: [7, 16, 35, 62, 77, 84, 85, 87, 88, 90],
    ),
    "ADD": (
        name: "Additional items",
        questions: [19, 44, 59, 60, 64, 89],
    ),
}